/bin
/cloud-mysoft-turbine/target
/cloud-mysoft-api-gateway/target
/cloud-mysoft-config/target
/cloud-mysoft-customer/target
/cloud-mysoft-eureka/target
/cloud-mysoft-hystrix-dashboard/target
/cloud-mysoft-provide/target
/cloud-mysoft-turbine/bin
/cloud-mysoft-api-gateway/bin
/cloud-mysoft-config/bin
/cloud-mysoft-customer/bin
/cloud-mysoft-eureka/bin
/cloud-mysoft-hystrix-dashboard/bin
/cloud-mysoft-provide/bin
/cloud-mysoft-task/bin
/cloud-mysoft-fastdfs/bin
/gradle/wrapper/gradle-4.5.1-bin.zip
/out
/.gradle
/build
/bin
/.classpath
/.project
/.settings
/test-output
/~/
/.idea
/cloud-mysoft-turbine/.settings
/cloud-mysoft-api-gateway/.settings
/cloud-mysoft-config/.settings
/cloud-mysoft-customer/.settings
/cloud-mysoft-eureka/.settings
/cloud-mysoft-hystrix-dashboard/.settings
/cloud-mysoft-provide/.settings
/cloud-mysoft-task/.settings
/cloud-mysoft-fastdfs/.settings